<div class="row">
  <h2>
    {{ data.title }}
    <i style="color: red" class="fas fa-exclamation-circle"></i>
  </h2>
</div>
<div class="row">
  <h4>
    {{ data.message }}
  </h4>
</div>
<div class="row">
  <div class="col text-right">
    <button
      class="btn-primary"
      mat-raised-button
      color="primary"
      (click)="closeModal()"
    >
      Aceptar
    </button>
  </div>
</div>
