<div class="" role="alert">
  <div class="row">
    <div class="col-10 text-left">
      <strong> {{ snackContent.title }}</strong>
    </div>    
    <div class="col-2">
      <i class="fa fa-close" aria-hidden="true" (click)="close()" style="cursor: pointer;font-size:19px;text-align: right;float: right;"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-left">
      {{ snackContent!.message }}
    </div>
  </div>
</div>