.bg-layout {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, #a692dc 50%, #1e5bb0) no-repeat;
}

.fixTop {
  padding-top: 120px;
}

.form-layout {
  margin: auto;
  width: 36%;
  padding: 16px;
  height: 462px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 20px 20px 96px rgb(185, 181, 181);
}

.header-layout {
  text-align: center;
}

.fontHeader {
  padding-top: 26px;
  text-align: center;
  font-weight: 900;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

.spacing-between-form {
  margin-top: 68px;
}

.input-field {
  width: 100%;
}
