<div class="bg-layout">
    <div class="fixTop">
        <div class="row form-layout" >
            <form [formGroup]="loginForm" #myForm="ngForm" (ngSubmit)="onSubmit()" >
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="fontHeader">ADMIN SEGUROS</h1>
                    </div>
                    <div class="col-md-12">
                        <mat-divider></mat-divider>
                    </div>
                    <div class="col-md-12 spacing-between-form">
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>usuario</mat-label>
                            <span matPrefix>&nbsp; <i class="fa fa-user p-2"></i> </span>
                            <input matInput formControlName="username" autocomplete="off" required maxlength="32" />
                            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">El campo usuario es obligatorio</mat-error>                                             
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>contraseña</mat-label>
                            <span matPrefix>&nbsp; <i class="fa fa-lock p-2"></i> </span>
                            <input matInput type="password" formControlName="password" autocomplete="off" required maxlength="32" />
                            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">El campo contraseña es obligatorio</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 spacing-between-form">
                        <button mat-raised-button color="primary" [disabled]="loginForm.invalid" style="width: 100%;" type="submit">INICIAR SESION</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>