<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/policies">SEGUROS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/policies" routerLinkActive="router-link-active">Pólizas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/customer" routerLinkActive="router-link-active">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/insurance" routerLinkActive="router-link-active">Seguros</a>
          </li>  
        </ul>
      </div>
      <form class="d-flex">
        <small class="text-muted p-2">{{ name }}</small>
        <button class="btn btn-outline-light" (click)="onLogout()">Salir</button>
      </form>
    </div>
  </nav>