<div class="container-fluid p-4">
  <div class="row">
    <h2>Agregar póliza</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-stepper [linear]="true">
        <mat-step [completed]="completeStep1">
          <ng-template matStepLabel>Seleccione un cliente</ng-template>
          <ng-template matStepContent>
            <div class="row pt-3">
              <div class="col-md-12">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Buscar" aria-label="buscar cliente" aria-describedby="buscar-cliente" (keyup)="filterCustomer($event)">
                </div>
              </div>
              <div class="col-md-12 fixed-body">
                <table mat-table [dataSource]="dataSourceCustomer" class="mat-elevation-z6">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font"> </th>
                    <mat-cell *matCellDef="let element">
                      <mat-radio-button [checked]="element === customerSelected" [value]="element" (click)="changeCustomer(element)"></mat-radio-button>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Nombres</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">{{ element.name }}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="document">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Cédula</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">{{ element.document }}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Género</th>
                    <td mat-cell *matCellDef="let element">
                      <app-badge *ngIf="element.gender === 'M'" text="Masculino" type="success"></app-badge>
                      <app-badge *ngIf="element.gender === 'F'" text="Femenino" type="warning"></app-badge>
                    </td>
                  </ng-container>                         
            
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Correo</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">{{ element.email }}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Teléfono</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">{{ element.phone }}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnsCustomer; sticky: true" class="table-row"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsCustomer" class="table-row"></tr>
                </table>
              </div>
              <div class="col-md-12 mt-3">
                <button mat-button mat-dialog-close>Cancelar</button>
                <button mat-button matStepperNext [disabled]="!completeStep1">Siguiente</button>
              </div>
            </div>
          </ng-template>
        </mat-step>
        <mat-step [completed]="completeStep1">
          <ng-template matStepLabel>Seleccione el/los seguros</ng-template>
          <ng-template matStepContent>
            <div class="row pt-3">
              <div class="col-md-12">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Buscar" aria-label="buscar seguro" aria-describedby="buscar-seguro" (keyup)="filterInsurance($event)">
                </div>
              </div>
              <div class="col-md-12 fixed-body">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z4">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
          
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Nombre del seguro</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">{{ element.name }}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="code" style="width: 60px;">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Código</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">{{ element.code }}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="type" style="width: 60px;">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Tipo</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">
                      <app-badge *ngIf="element.type === 'life'" text="Vida" type="success"></app-badge>
                      <app-badge *ngIf="element.type === 'health'" text="Salud" type="info"></app-badge>
                      <app-badge *ngIf="element.type === 'car'" text="Vehicular" type="danger"></app-badge>
                    </td>
                  </ng-container>
            
                  <ng-container matColumnDef="insuredValue" style="width: 60px;">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Valor</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">$ {{ element.insuredValue | number:'1.2-2' }}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="bonus" style="width: 60px;">
                    <th mat-header-cell *matHeaderCellDef class="minimal-font">Prima</th>
                    <td mat-cell *matCellDef="let element" class="minimal-font-light">$ {{ element.bonus | number:'1.2-2' }}</td>
                  </ng-container>
            
                  <tr mat-header-row *matHeaderRowDef="columns; sticky: true" class="table-row"></tr>
                  <tr mat-row *matRowDef="let row; columns: columns" class="table-row"></tr>
                </table>
              </div>
              <div class="col-md-12 mt-3">
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button [disabled]="selection.isEmpty()" (click)="onSave()">Guardar</button>
              </div>
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>