<app-nav-bar-custom></app-nav-bar-custom>
<div class="container pt-2">
  <div class="row pt-1">
    <div class="col-md-10">
      <h2>Listado de pólizas</h2>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" style="float: right;" (click)="createPolicy()">
        Nuevo
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filterText" (keyup.enter)="filterPolicy()" aria-label="filtrar" aria-describedby="filtrar poliza">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="filterPolicy()">Buscar</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">        
        <select class="form-control" id="formControlSearch" [(ngModel)]="selectedFilter" style="max-width: 132px;">
          <option value="document">Por cédula</option>
          <option value="code">Por código</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z6">
        <ng-container matColumnDef="policyNumber">
          <th mat-header-cell *matHeaderCellDef>N.- póliza</th>
          <td mat-cell *matCellDef="let element">{{ element.policyNumber }}</td>
        </ng-container>
  
        <ng-container matColumnDef="documentCustomer">
          <th mat-header-cell *matHeaderCellDef>Cedula cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.documentCustomer }}</td>
        </ng-container>
  
        <ng-container matColumnDef="nameCustomer">
          <th mat-header-cell *matHeaderCellDef>Nombre cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.nameCustomer }}</td>
        </ng-container>

        <ng-container matColumnDef="insuranceCode">
          <th mat-header-cell *matHeaderCellDef>Código de seguro</th>
          <td mat-cell *matCellDef="let element">{{ element.insuranceCode }}</td>
        </ng-container>
  
        <ng-container matColumnDef="insuranceName">
          <th mat-header-cell *matHeaderCellDef>Seguro</th>
          <td mat-cell *matCellDef="let element">{{ element.insuranceName }}</td>
        </ng-container>
  
        <ng-container matColumnDef="insuranceType">
          <th mat-header-cell *matHeaderCellDef>Tipo de seguro</th>
          <td mat-cell *matCellDef="let element">
            <app-badge *ngIf="element.insuranceType === 'life'" text="Vida" type="success"></app-badge>
            <app-badge *ngIf="element.insuranceType === 'health'" text="Salud" type="info"></app-badge>
            <app-badge *ngIf="element.insuranceType === 'car'" text="Vehicular" type="danger"></app-badge>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="insuredValue">
          <th mat-header-cell *matHeaderCellDef>Monto asegurado</th>
          <td mat-cell *matCellDef="let element">$ {{ element.insuredValue | number : '1.2-2' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="observations">
          <th mat-header-cell *matHeaderCellDef>Observaciones</th>
          <td mat-cell *matCellDef="let element">{{ element.observations }}</td>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; width: auto">
            Acciones
          </th>
          <td mat-cell *matCellDef="let row" style="text-align: center; width: auto">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" style="background-color: blueviolet;" (click)="viewPolicy(row)">
                <i class="fa-solid fa fa-eye"></i>
              </button>  
              <button type="button" class="btn btn-danger" (click)="deletePolicy(row.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>        
    </div>
    <div class="col-md-12 mt-3">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
