<div class="container-fluid p-4">
  <div class="row">
    <h2>Póliza</h2>
  </div>
  <div class="row">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Número de póliza</mat-label>
              <input matInput formControlName="policyNumber" autocomplete="off" readonly />
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Cédula</mat-label>
              <input matInput formControlName="documentCustomer" autocomplete="off" readonly />
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Nombre del seguro</mat-label>
              <input matInput formControlName="insuranceName" autocomplete="off" readonly />
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Observaciones</mat-label>
              <input matInput formControlName="observations" autocomplete="off" readonly />
            </mat-form-field>
          </div>

          <div class="col-md-9">
            <mat-form-field appearance="outline">
              <mat-label>Valor</mat-label>
              <span matPrefix> &nbsp; $ &nbsp;</span>
              <input matInput [value]="form.get('insuredValue')?.value | number:'1.2-2'" autocomplete="off" readonly />
            </mat-form-field>
          </div>

          <div class="col-md-3" style="font-size: large; text-align: center;">
            <div style="margin-top: 14px;">
              <app-badge *ngIf="form.get('insuranceType')?.value === 'life'" text="Vida" type="success"></app-badge>
              <app-badge *ngIf="form.get('insuranceType')?.value === 'health'" text="Salud" type="info"></app-badge>
              <app-badge *ngIf="form.get('insuranceType')?.value === 'car'" text="Vehicular" type="danger"></app-badge></div>
          </div>
        </div>
      </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button mat-stroked-button color="primary" mat-dialog-close style="float: right; margin-right: 5px;">Cerrar</button>
    </div> 
  </div>
</div>
