.badge {
  background-color: grey;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  min-width: 68px;

  &.warning {
    background-color: coral;
  }

  &.danger {
    background-color: red;
  }

  &.success {
    background-color: cornflowerblue;
  }

  &.info {
    background-color: green;
  }
}
