<div class="container-fluid p-4">
  <div class="row">
    <h2>{{title}} CLIENTE</h2>
  </div>
  <div class="row">
    <form [formGroup]="form">
      <div class="row pb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Cédula</mat-label>
            <input matInput formControlName="document" autocomplete="off" required maxlength="10" (keypress)="numberOnly($event)" />
            <mat-error *ngIf="form.get('document')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
            <mat-error *ngIf="form.get('document')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error> 
            <mat-error *ngIf="form.get('document')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
            <mat-error *ngIf="form.get('document')?.hasError('pattern')">{{defaultMessage.invalidField}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
              <mat-label>Genero</mat-label>
              <mat-select matInput required formControlName="gender">
                <mat-option value="F">Femenino</mat-option>
                <mat-option value="M">Masculino</mat-option>               
              </mat-select>
              <mat-error *ngIf="form.get('gender')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" autocomplete="off" required maxlength="64" />
            <mat-error *ngIf="form.get('name')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>                      
            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error> 
            <mat-error *ngIf="form.get('name')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('pattern')">{{defaultMessage.invalidField}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" autocomplete="off" required maxlength="256" />
            <mat-error *ngIf="form.get('address')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
            <mat-error *ngIf="form.get('address')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error>
            <mat-error *ngIf="form.get('address')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
            <mat-error *ngIf="form.get('address')?.hasError('pattern')">{{defaultMessage.invalidField}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="email" autocomplete="off" required maxlength="64" />
            <mat-error *ngIf="form.get('email')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error> 
            <mat-error *ngIf="form.get('email')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('pattern')">{{defaultMessage.emailInvaild}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phone" autocomplete="off" required maxlength="10" (keypress)="numberOnly($event)" />
            <mat-error *ngIf="form.get('phone')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
            <mat-error *ngIf="form.get('phone')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error> 
            <mat-error *ngIf="form.get('phone')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput formControlName="birthdate" [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="form.get('birthdate')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
              <mat-error *ngIf="form.get('birthdate')?.hasError('matDatepickerMax')">Fecha excede lo permitido</mat-error>
              <mat-error *ngIf="form.get('birthdate')?.hasError('matDatepickerMin')">Fecha debe ser mayor</mat-error>
            </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button color="primary" [disabled]="form.invalid" style="float: right;" (click)="onSave()">guardar</button>
      <button mat-stroked-button mat-dialog-close style="float: right; margin-right: 5px;">cancelar</button>
    </div>          
  </div>
</div>