<app-nav-bar-custom></app-nav-bar-custom>

<div class="container pt-2">
  <div class="row pt-1">
    <div class="col-md-6">
      <h2>Listado de clientes</h2>
    </div>
    <div class="col-md-6">      
      <button type="button" class="btn btn-primary" style="float: right;" (click)="createCustomer()">
        Nuevo
      </button>
      <input hidden #fileInput type="file" accept=".xls,.xlsx" (change)="importFromExcel($event)" />
      <button type="button" class="btn btn-success" style="float: right; margin-right: 5px;" (click)="fileInput.click()">
        <i class="fa fa-file-excel" aria-hidden="true"></i>
        Importar
      </button>
      <a title="Descargar Plantilla" class="btn btn-success" style="float: right; margin-right: 5px; background-color: blueviolet; border: none;"
            href="assets/templates/customers.xlsx" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-download" aria-hidden="true"></i> 
            Descargar plantilla
      </a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z6">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombres</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef>Cédula</th>
          <td mat-cell *matCellDef="let element">{{ element.document }}</td>
        </ng-container>
  
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Género</th>
          <td mat-cell *matCellDef="let element">
            <app-badge *ngIf="element.gender === 'M'" text="Masculino" type="success"></app-badge>
            <app-badge *ngIf="element.gender === 'F'" text="Femenino" type="warning"></app-badge>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
  
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>
  
        <ng-container matColumnDef="birthdate">
          <th mat-header-cell *matHeaderCellDef>F. nacimiento</th>
          <td mat-cell *matCellDef="let element">{{ element.birthdate | date:'dd/MM/yyyy' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; width: auto">
            Acciones
          </th>
          <td mat-cell *matCellDef="let row" style="text-align: center; width: auto">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success" (click)="editCustomer(row)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>  
              <button type="button" class="btn btn-danger" (click)="deleteCustomer(row.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
    <div class="col-md-12 mt-3">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>