<div class="container-fluid p-4">
  <div class="row">
    <h2>{{title}} SEGURO</h2>
  </div>
  <div class="row">
    <form [formGroup]="form">
      <div class="row pb-3">
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" autocomplete="off" required maxlength="32" />
            <mat-error *ngIf="form.get('name')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>                      
            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error> 
            <mat-error *ngIf="form.get('name')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('pattern')">{{defaultMessage.invalidField}}</mat-error>
          </mat-form-field>
        </div>    
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput formControlName="code" autocomplete="off" required maxlength="8" />
              <mat-error *ngIf="form.get('code')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
              <mat-error *ngIf="form.get('code')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error> 
              <mat-error *ngIf="form.get('code')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
              <mat-error *ngIf="form.get('code')?.hasError('pattern')">{{defaultMessage.invalidField}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select matInput required formControlName="type" >
                  <mat-option value="life">Seguro de vida</mat-option>
                  <mat-option value="car">Seguro vehicular</mat-option>
                  <mat-option value="health">Seguro de salud</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('type')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
              </mat-form-field>
          </div>                  
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Valor de seguro</mat-label>
              <span matPrefix> &nbsp; $ &nbsp;</span>
              <input matInput formControlName="insuredValue" autocomplete="off" required maxlength="9" min="0" max="10000" type="number" />
              <mat-error *ngIf="form.get('insuredValue')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
              <mat-error *ngIf="form.get('insuredValue')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error>
              <mat-error *ngIf="form.get('insuredValue')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
              <mat-error *ngIf="form.get('insuredValue')?.hasError('pattern')">{{defaultMessage.invalidField}}</mat-error>
              <mat-error *ngIf="form.get('insuredValue')?.hasError('min')">{{defaultMessage.minMaxNumber}}</mat-error>
              <mat-error *ngIf="form.get('insuredValue')?.hasError('max')">{{defaultMessage.minMaxNumber}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Prima</mat-label>
              <span matPrefix> &nbsp; $ &nbsp;</span>
              <input matInput formControlName="bonus" autocomplete="off" required maxlength="9" min="0" max="10000" type="number" />
              <mat-error *ngIf="form.get('bonus')?.hasError('required')">{{defaultMessage.requiredField}}</mat-error>
              <mat-error *ngIf="form.get('bonus')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error> 
              <mat-error *ngIf="form.get('bonus')?.hasError('minlength')">{{defaultMessage.minLength}}</mat-error>
              <mat-error *ngIf="form.get('bonus')?.hasError('pattern')">{{defaultMessage.invalidField}}</mat-error>
              <mat-error *ngIf="form.get('bonus')?.hasError('min')">{{defaultMessage.minMaxNumber}}</mat-error>
              <mat-error *ngIf="form.get('bonus')?.hasError('max')">{{defaultMessage.minMaxNumber}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Observaciones</mat-label>
              <input matInput formControlName="observations" autocomplete="off" maxlength="256" />
              <mat-error *ngIf="form.get('observations')?.hasError('maxlength')">{{defaultMessage.maxLength}}</mat-error>
              <mat-error *ngIf="form.get('observations')?.hasError('pattern')">{{defaultMessage.invalidField}}</mat-error>
            </mat-form-field>
          </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button color="primary" [disabled]="form.invalid" style="float: right;" (click)="onSave()">guardar</button>
      <button mat-stroked-button mat-dialog-close style="float: right; margin-right: 5px;">cancelar</button>
    </div>          
  </div>
</div>