<app-nav-bar-custom></app-nav-bar-custom>
<div class="container pt-2">
  <div class="row pt-1">
    <div class="col-md-10">
      <h2>Listado de seguros</h2>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" style="float: right;" (click)="createInsurance()">
        Nuevo
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z6">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre seguro</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>
  
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Tipo de séguro</th>
          <td mat-cell *matCellDef="let element">
            <app-badge *ngIf="element.type === 'life'" text="Vida" type="success"></app-badge>
            <app-badge *ngIf="element.type === 'health'" text="Salud" type="info"></app-badge>
            <app-badge *ngIf="element.type === 'car'" text="Vehicular" type="danger"></app-badge>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="insuredValue">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let element">$ {{ element.insuredValue | number:'1.2-2' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="bonus">
          <th mat-header-cell *matHeaderCellDef>Prima</th>
          <td mat-cell *matCellDef="let element">$ {{ element.bonus | number:'1.2-2' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="observations">
          <th mat-header-cell *matHeaderCellDef>Observaciones</th>
          <td mat-cell *matCellDef="let element">{{ element.observations }}</td>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; width: auto">
            Acciones
          </th>
          <td mat-cell *matCellDef="let row" style="text-align: center; width: auto">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success" (click)="editInsurance(row)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>  
              <button type="button" class="btn btn-danger" (click)="deleteInsurance(row.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
    <div class="col-md-12 mt-3">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>