/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-error {
  font-size: xx-small;
}

.mat-mdc-snack-bar-container {
  border-radius: 20% !important;
  /* --mat-mdc-snack-bar-button-color: #fff; */
  --mdc-snackbar-supporting-text-color: #fff; 
  &.alert-success {
    --mdc-snackbar-container-color: #3498DB;
    --mat-mdc-snack-bar-button-color: #3498DB;
  }
  &.alert-warning {
    --mdc-snackbar-container-color: #E59866;
    --mat-mdc-snack-bar-button-color: #E59866;
  }
  &.alert-danger {
    --mdc-snackbar-container-color: #E74C3C;
    --mat-mdc-snack-bar-button-color: #E74C3C;  
  }
}

.alertModal {
  min-height: 200px;
  min-width: 200px;
}